* {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Quicksand', sans-serif;
	background: #F9F9F9;
	width: 100%;	
}

.cabezera, .texto-descriptivo, .formulario{
	margin: 20px auto;	
}

.logo{
	display:block;
	margin:0 auto 0 auto;
}

h1{
	text-align-last: center;
	font-family: 'Julius Sans One', sans-serif;
	color: #B6A48A;
	font-size: 40px;
}

h3{
	text-align-last: center;
	color: #D77E00;
	font-weight: 100;
}

p{
	text-align-last: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.8em;
	color: #D77E00;
}


#nombre, #apellido, #address, #phone, #email{
	text-align-last: center;
	width: 200px;
	height: 25px;
}

.seccion-principal p{
	text-align-last: center;	
	font-family: 'Helvetica', sans-serif;	
}

a:link, a:visited {
	text-align-last: center;	
	background-color: #ECECEC;
	color: #D77E00;
	width: 5%;
	margin: 0 auto;
	height: 15px;
	padding: 10px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
}
a:hover, a:active {
	text-align-last: center;	
	background-color: #B0B0B0;
	font-weight: 300;
	color: #FFF;	
}

.formulario {
	text-align-last: center;	
	font-family: 'Quicksand', sans-serif;
	box-shadow: 3px 3px 10px #A1A1A1;
	font-weight: 100;
	font-size: 0.9em;	
	background: #fff;
	width: 500px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
}

footer{
	background-color: #D77E00;
	color: white;
	padding: 5px 10px;
	text-align: right;
	font-size: 0.8em;		
}

.formulario-dos{
	display: inline-block;
	float: left;
	margin: 10px 80px;		
}

#clientes{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9em;
    color: #D77E00;
}

#productos{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.85em;
    margin-top: 5px;
    padding-right: 50px;
}

.te-negro-f{
	width: 550px;
	height: 200px;
	margin:  20px 0;
	background-image: url(../img/tenegro.jpg);
	background-repeat: none;
}

.te-fruta-f{
	width: 550px;
	height: 200px;
	margin:  20px 0;
	background-image: url(../img/tefruta.jpg);
	background-repeat: none;
}

.te-variedades-f{
	width: 550px;
	height: 200px;
	margin:  20px 0;
	background-image: url(../img/teverobla.jpg);
	background-repeat: none;	
}
